/* Your custom styles */

.ml-a {
    margin-left: auto;
    margin-right: 7px
}

.caps {
    text-transform: uppercase;
    font-size: small;
    font-weight: 700;
}

.shadow {
    box-shadow: 0 3px 3px 0 rgba(192, 176, 176, 0.16), 0 0 4px 0 rgba(187, 167, 167, 0.12);
}

.btn,
button,
.button.is-small,
.button.is-link {
    font-family: Montserrat;
}

.message-count {
    position: absolute;
    top: 10px;
    right: 7px;
    font-size: .4em;
    background: rgb(241, 60, 54);
    color: white;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}

input,
select,
textarea {
    margin: 5px;
}

.pagination {
    justify-content: center;
}

body {
    font-family: 'Encode Sans Expanded', sans-serif;
    background-color: #fbfbfb;
    font-size: 15px;
}

span.ais-highlight em {
    background: yellow;
    font-style: normal;
}

[v-cloak] {
    display: none;
}

.fa-heart-o::before {
    content: "\f087";
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-top: 4px;
    text-transform: uppercase;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#heart {
    text-shadow: 1px 1px 1px #f0d1d1;
    font-size: 1.1em;
}

.level {
    display: flex;
    align-items: center;
}

.navbar {
    border-radius: 0;
}

a:hover {
    text-decoration: none
}

.flex {
    flex: 1;
}